body {
    line-height: 1.5;
    border: 2px solid black;
}
.ma-class1 {
    font-family: 'Mansalva', cursive;
    /*bordern 2px solid purple; */
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.ma-class2 {
    font-family: 'Luckiest Guy', cursive;
    text-;align: right;
}
.ma-class1:hover {
    text-decoration: line-through;
}
.ma-class3 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
}
.ma-class4 {
    font: bold;
   font-style: italic;
}
ul {
    list-style-type: none
}
ol {
    list-style-type: upper-roman
}

img {
    border-radius: 20px;
}
#test {
    background-image: url("https://vignette.wikia.nocookie.net/naruto/images/2/27/Kakashi_Hatake.png/revision/latest?cb=20141108182016&path-prefix=fr"); 
    width: 40%;
    background-repeat: no-repeat;
    background-position: center center;
    color: blue 
}
p {
    width: 40%;
    margin-bottom: 40px
}
h1 {
    margin: 50px 0;
}
body {
    width: 800px;
    margin: 0 auto
    line-height: 1.5;
    border: 2px solid black;
}
#final {
    background-color: blue;
    padding:  20px 20px;
    height: 30px
}